
.app{
  background-color:#07343c;
	  text-align: center;
    color:white;
    min-width: 90vw;
    min-height: 100vh;
}
/* 

//colour design tokens

//palette1
#084f30
#084f30
#af3923
#601710

//palette 2
#203132
#f6f7e9
#71ad32

*/