h1{
 color: #58b226;
 
}
.background
{
    height:100vh;
    /* border:1px solid #031518; */
    background-color:#07343c;
    padding:15px;
    color:#feffff;
}
.display{
    background-color:#041c20;
    height:80%;
    /* border:2px solid #395d63; */
    padding:1%;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}
.Section1{
    background-color:#07343c;
    width:50%;
    margin:1%;
    padding:1%;
    /* border:1px solid #010a0c; */
    display: flex;
    flex-flow: column;
    

}
.Section2{
    background-color:#07343c;
    width:50%;
    margin:1%;
    padding:1%;
    /* border:1px solid #395d63; */
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content:center;

    
}
 .SMG{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    margin:1%;
    /* border:1px solid #031518; */

 }

.soilGraph
{
    width: 70%;
    height:70%;
}
.waterGraph
{
    width: 80%;
    height:100%;
}

 .TV{
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
    margin:1%;
    padding:1%;
    /* border:1px solid #031518; */

 }
 .Temp{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    margin:1%;
    padding:1%;
    /* border:1px solid #010a0c; */

 }
 .Humidity{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    margin:1%;
    padding:1%;
    /* border:1px solid #010a0c; */

 }
 .Rain{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    margin:1%;
    padding:1%;
    /* border:1px solid #010a0c; */

 }
 
 .WCG{
    
    
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    align-items: center;
    margin:1%;
    /* border:1px solid #031518; */

 }
 .WSB{
    background-color:#041c20;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-items: center;
    justify-content:center;
    margin:1%;
    padding:1%;
    /* border:1px solid #031518; */

 }
 .WS{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    margin:1%;
    padding:1%;
    /* border:1px solid #010a0c; */
 }
.Irrigate
{
    margin:1% 1% 0% 1%;
    padding:1%;
    /* border:1px solid #010a0c; */
}


/* 
black: {
    100: "#010a0c",
    200: "#9caeb1",
    300: "#6a858a",
    400: "#395d63",
    500: "#07343c",
    600: "#062a30",
    700: "#041f24",
    800: "#031518",
    900: "#010a0c"
},
*/