.layout
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". content content content content content content content content .";
}